@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #4d0d01;
  --color-primary-hover: #774438;
  --color-secondary: #E6007E;
  --color-accent: #E2E500;
  --color-bg-light: #F9FCFC;
  --color-text-main: #1A2A2B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--color-bg-light);
  color: var(--color-text-main);
  font-family: system-ui, -apple-system, sans-serif;

  /* --- THÊM HÌNH NỀN TẠI ĐÂY --- */
  /* background-image: url('/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; Giữ cố định nền khi cuộn trang */
}